<!doctype html>
<html lang="en">

{{> head title="HTGC Inventory"}}
{{> navbar currentActive="home"}}
<br><br>
<br><br>
<div class="container-lg">
  <h1 style="text-align: center;">Add Item to Inventory</h1>
  <br><br>
  <form onsubmit="return false;">
    <div class="row">
      <div class="col">
        <label for="id" class="form-label">Item ID</label>
        <input type="text" value="{{uuid}}" class="form-control" id="id" name="id" aria-describedby="idHelp" required
          disabled>
        <div id="idHelp" class="form-text">Item ID for your reference.</div>
      </div>
      <div class="col">
        <label for="id" class="form-label">Item description</label>
        <input type="text" class="form-control" id="description" name="description" aria-describedby="idHelp" required>
        <div id="idHelp" class="form-text">Enter a description for the item.</div>
      </div>
    </div>
    <br>
    <div class="input-group mb-3">
      <input type="number" min="1" class="form-control" placeholder="Quantity" aria-label="Quantity" required>
      <select class="form-select" aria-label="Unit">
        <option selected disabled>Unit</option>
        {{#each units}}
        <option value="{{this}}">{{this}}</option>
        {{/each}}
      </select>
    </div>
    <div class="input-group mb-3">
      <input type="number" min="1" class="form-control" placeholder="Loose Quantity" aria-label="Quantity" required>
      <select class="form-select" aria-label="Unit">
        <option selected disabled>Unit</option>
        {{#each units}}
        <option value="{{this}}">{{this}}</option>
        {{/each}}
      </select>
    </div>
    <div class="row">
      <div class="col">
        <label for="date" class="form-label">Date acquired</label>
        <input type="date" class="form-control" id="date" name="date" aria-describedby="dateHelp" required>
        <div id="dateHelp" class="form-text">Enter the date this item was first acquired.</div>
      </div>
      {{#if groupLength}}
      <div class="col">
        <label for="date" class="form-label">Category</label>
        <select class="form-select" aria-label="Unit">
          <option selected disabled>Choose...</option>
          {{#each groups}}
          <option value="{{id}}">{{name}}</option>
          {{/each}}
        </select>
        <div id="dateHelp" class="form-text">Select the category that this item belongs in.</div>
      </div>
      {{/if}}
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<body>
</body>

</html>